<!-- navigation -->
<header class="navigation">
  <div class="container">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg">
      <!-- navbar brand/logo -->
      <a class="navbar-brand" href="{{ site.BaseURL | relLangURL }}">
        {{ partial "logo.html" }}
      </a>

      <div class="d-flex align-items-center">
        <!-- Language List -->
        {{ if .IsTranslated }}
        <select class="me-3 border-0 d-inline-block d-lg-none" onchange="location = this.value;">
          {{ $siteLanguages := site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
          {{ $translation := .}}
          {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
          {{ $selected := false }}
          {{ if eq $pageLang .Lang}}
          <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}" selected>{{ .LanguageName }}
          </option>
          {{ else }}
          <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}">{{ .LanguageName }}</option>
          {{ end }}
          {{ end }}
          {{ end }}
          {{ end }}
        </select>
        {{ end }}
        <!-- navbar toggler -->
        <button aria-label="navbar toggler" class="navbar-toggler border-0 h4 mb-0" type="button" data-bs-toggle="collapse" aria-expanded="false" data-bs-target="#navigation">
          <i class="fa-solid fa-bars"></i>
          <i class="fa-solid fa-xmark"></i>
        </button>

        {{ if site.Params.theme_switcher }}
        <div class="theme-switcher d-inline-block d-lg-none">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="20" height="20" stroke-linecap="round" stroke-linejoin="round" fill="none" stroke="#000">
            <mask id="m">
              <circle class="masker" cx="7.5" cy="7.5" r="8.5" fill="#fff" />
            </mask>
            <g mask="url(#m)">
              <path class="sun" d="M7.5 1.5v-1m0 13.99v-.998m6-5.997h1m-13 0h-1m2-4.996l-1-1m12 0l-1 1m-10 9.993l-1 1m12 0l-1-1m-2-4.997a2.999 2.999 0 01-3 2.998 2.999 2.999 0 113-2.998z" />  
            </g>
            <path class="moon" fill="white" d="M1.66 11.362A6.5 6.5 0 007.693.502a7 7 0 11-6.031 10.86z" />  
          </svg>
        </div>
        {{ end }}
      </div>

      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav mx-auto">
          <!-- menu active -->
          {{ $currentPage := . }}
          {{ range site.Menus.main }}
            {{ if .HasChildren }}
              {{ $anyChildActive := false }}
              {{ range .Children }}
                {{ if eq $currentPage.RelPermalink (.URL | relLangURL) }}
                  {{ $anyChildActive = true }}
                {{ end }}
              {{ end }}
              <li class="nav-item special dropdown {{if .Params.isMenuLarge}}dropdown-lg{{end}} {{ if $anyChildActive }}active{{ end }}">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                  {{ .Name }}
                </a>
                <ul class="dropdown-menu">
                  {{ range .Children }}
                    {{ $isActive := eq $currentPage.RelPermalink (.URL | relLangURL) }}
                    <li>
                      <a class="dropdown-item {{ if $isActive }}active{{ end }}" href="{{ .URL }}">
                        {{ .Name }}
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </li>
            {{ else }}
              <li class="nav-item {{ if eq $currentPage.RelPermalink (.URL | relLangURL) }}active{{ end }}">
                <a class="nav-link" href="{{ .URL | relLangURL }}">{{ .Name }}</a>
              </li>
            {{ end }}
          {{ end }}
          <li class="nav-item gh-btn">
            <a class="github-button" href="https://github.com/microcks/microcks" 
               data-color-scheme="no-preference: light; light: light; dark: dark;" 
               data-size="large" data-show-count="true" 
               aria-label="Star microcks/microcks on GitHub">Star</a>
          </li>

        <!-- Language List -->
        {{ if .IsTranslated }}
        <select class="me-1 border-0 d-none d-lg-inline-block" id="select-language" onchange="location = this.value;">
          {{ $siteLanguages := site.Languages}}
          {{ $pageLang := .Page.Lang}}
          {{ range .Page.AllTranslations }}
          {{ $translation := .}}
          {{ range $siteLanguages }}
          {{ if eq $translation.Lang .Lang }}
          {{ $selected := false }}
          {{ if eq $pageLang .Lang}}
          <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}" selected>{{ .LanguageName }}
          </option>
          {{ else }}
          <option id="{{ $translation.Language }}" value="{{ $translation.RelPermalink }}">{{ .LanguageName }}</option>
          {{ end }}
          {{ end }}
          {{ end }}
          {{ end }}
        </select>
        {{ end }}

        {{ if site.Params.navigation_button.enable }}
        <!-- navigation btn -->
        <a href="{{ site.Params.navigation_button.link | relLangURL }}"
          class="btn btn-sm btn-primary ms-lg-4 mt-2 mt-lg-0">{{ site.Params.navigation_button.label }}</a>
        {{ end }}

        {{ if site.Params.theme_switcher }}
        <!-- theme switcher -->
        <div class="theme-switcher d-none d-lg-inline-block bg-light theme-toggle-icon">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="20" height="20" stroke-linecap="round" stroke-linejoin="round" fill="#fff" stroke="#000">
            <mask id="m">
              <circle class="masker" cx="7.5" cy="7.5" r="8.5" fill="#fff" />
            </mask>
            <g mask="url(#m)">
              <path class="sun" d="M7.5 1.5v-1m0 13.99v-.998m6-5.997h1m-13 0h-1m2-4.996l-1-1m12 0l-1 1m-10 9.993l-1 1m12 0l-1-1m-2-4.997a2.999 2.999 0 01-3 2.998 2.999 2.999 0 113-2.998z" />  
            </g>
            <path class="moon" fill="white" d="M1.66 11.362A6.5 6.5 0 007.693.502a7 7 0 11-6.031 10.86z" />  
          </svg>
        </div>
        {{ end }}
      </div>
    </nav>
  </div>
</header>
<!-- /navigation -->


<!-- theme switcher -->
{{ if site.Params.theme_switcher }}
<script>
  var darkMode = {{if eq site.Params.theme_default "dark"}}true{{else}}false{{end}};
  {{ if eq site.Params.theme_default "system" }}
  if (window.matchMedia('(prefers-color-scheme: dark)').matches){darkMode = true}
  {{ end }}
  if (localStorage.getItem('theme') === 'dark'){darkMode = true}
  else if (localStorage.getItem('theme') === 'light'){darkMode = false}
  if (darkMode){document.body.classList.toggle('dark')}
  document.addEventListener('DOMContentLoaded', () => {
    var themeSwitch = document.querySelectorAll('.theme-switcher');
    [].forEach.call(themeSwitch, function (ts) {
      ts.addEventListener('click', () => {
        document.body.classList.toggle('dark');
        localStorage.setItem('theme', document.body.classList.contains('dark') ? 'dark' : 'light');
      });
    })
  });
</script>
{{ end }}