<header class="bg-primary-color ph4 tc" role="banner">
  
  <img class="microcks-mocks-img" src="/images/microcks-mocks.png" alt="Microcks mocks">
  <span class="absolute pr4 mt7-m mt7-l right-0 top-0">
    <a class="f4 link tc v-mid bg-accent-color-light white ph4 pv2 br3 fem" href="/documentation/getting-started">GETTING STARTED</a>
  </span>
  <div class="w-100 w-50-ns ph5-l pv4-l">
    <div class="mv3 mh3 tc tc-ns white fem">
      <!-- <p class="f1">THE COMMUNICATION & RUNTIME TOOL FOR YOUR <span class="accent-color-light">MICRO</span>-SERVICES <span class="accent-color-light">MOCKS</span></p> -->
      <!-- <p class="f1">KUBE NATIVE TOOLING FOR YOUR <span class="accent-color-light">APIs</span> &amp; <span class="accent-color-light">MICRO</span>-SERVICES MO<span class="accent-color-light">CKS</span></p> -->
      <p class="f1">Open source Kubernetes Native tool for <span class="accent-color-light">API</span> <span class="accent-color-light">Mocking</span> and <span class="accent-color-light">Testing</span></p>
    </div>
  </div>
</header>
