<header class="home-header-bg ph4 tc" role="banner">
  
  <div class="mr20p-ns pb4-xs">
    <img class="microcks-mocks-img" style="margin-right: -15px;" src="/images/microcks-mocks-full.png" alt="Microcks mocks">
  </div>
  <!--
  <span class="absolute pr4 mt7-m mt7-l right-0 top-0 dn-xs">
    <a class="f4 link tc v-mid bg-accent-color-light white ph4 pv2 br3 fem" href="/documentation/getting-started">GETTING STARTED</a>
  </span>
  -->
  <div class="w-100 w-50-ns ph5-l pv4-l" style="min-height: 404px;">
    <div class="mv3 mh4 tc tc-ns mv0-ns mv0-xs white fem">
      <!-- <p class="f1">THE COMMUNICATION & RUNTIME TOOL FOR YOUR <span class="accent-color-light">MICRO</span>-SERVICES <span class="accent-color-light">MOCKS</span></p> -->
      <!-- <p class="f1">KUBE NATIVE TOOLING FOR YOUR <span class="accent-color-light">APIs</span> &amp; <span class="accent-color-light">MICRO</span>-SERVICES MO<span class="accent-color-light">CKS</span></p> -->
      <p class="dn-ns pv0-ns">&nbsp;</p>
      <p class="f1 mv0-ns mv0-xs pv4-ns">Open source Kubernetes Native tool for <span class="accent-color-light">API</span> <span class="accent-color-light">Mocking</span> and <span class="accent-color-light">Testing</span></p>
      <p class="dn-xs mt1 mb4">
        <a class="f4 link tc v-mid bg-accent-color-light white ph4 pv2 br3 fem" href="/documentation/getting-started">GETTING STARTED</a>
      </p>  
      
      <div class="flex-ns flex-wrap justify-center center mw9">
        <div class="w-100 w-50-ns ph5-l ph3-xs pv3-l">
          <img class="w-100 cncf-logo" alt="Cloud Native Computing Foundation" src="/images/cncf-logo.svg"/>
        </div>
        <div class="w-100 w-50-ns ph5-l ph3-xs pv3-l black f6">
          Microcks is a <a class="black" href="https://www.cncf.io/">Cloud Native Computing</a> Sandbox project
        </div>
      </div>
    </div>
    <p class="mt7-m mt7-l dn-ns pt4-xs pb4-xs mv0-xs">
      <a class="f4 link tc v-mid bg-accent-color-light white ph4 pv2 br3 fem" href="/documentation/getting-started">GETTING STARTED</a>
    </p>
  </div>
</header>
