<div class="flex-ns flex-wrap center mw9">
  <div class="pv2 f2 w-70 w-70-ns center tc tc-ns">
    🔥 1.2.0 has just been released! &nbsp; <img src="./images/apache-avro.png" style="height: 1.2em; vertical-align: text-bottom"/> <img src="./images/mqtt.png" style="height: 1.6em; vertical-align: middle"/>
  </div>
</div>
<div class="flex-ns flex-wrap center mw9">
  <div class="f4 center">
    Learn more about new features and enhancements <a href="https://microcks.io/blog/microcks-1.2.0-release/" class="home-link">here {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "10") }}</a>.
  </div>
</div>