<div class="flex-ns flex-wrap center mw9">
  <div class="pv2 f2 w-70 w-70-ns center tc tc-ns">
    🔥 1.8.0 has just been released! 🚀 <br/> 
    With AI Copilot
    <img src="./images/openai.png" style="height: 1.3em; vertical-align: top"/>
    and Testcontainers
    <img src="./images/testcontainers.png" style="height: 1.4em; vertical-align: top"/>
    support! &nbsp; 
  </div>
</div>
<div class="flex-ns flex-wrap center mw9">
  <div class="f4 center">
    Learn more about this exciting new feature <a href="https://microcks.io/blog/microcks-1.8.0-release/" class="home-link">here</a>.
  </div>
</div>