<div class="flex-ns flex-wrap center mw9">
  <div class="pv2 f2 w-70 w-70-ns center tc tc-ns">
    🔥 1.7.0 has just been released! 🚀 <br/> 
    With NATS 
    <img src="./images/nats.png" style="height: 1.5em; vertical-align: top"/>
    , Google PubSub
    <img src="./images/google-pub-sub.png" style="height: 1.4em; vertical-align: top"/>
    , Postman Workspace
    <img src="./images/postman.png" style="height: 1.4em; vertical-align: top"/>
    support! &nbsp; 
  </div>
</div>
<div class="flex-ns flex-wrap center mw9">
  <div class="f4 center">
    Learn more about this exciting new feature <a href="https://microcks.io/blog/microcks-1.7.0-release/" class="home-link">here</a>.
  </div>
</div>