<div class="flex-ns flex-wrap center mw9">

  {{ $interior_classes := $.Site.Params.flex_box_interior_classes }}

  <!-- LEFT -->
  <div class="w-100 w-50-l">
    <h3 class="f1 fw4 white">See Microcks in action !</h3>
    <h3 class="f3 fw4 white">Design and mock in seconds <br/> when integrated with <a href="https://apicur.io" class="home-link">Apicurio {{ partial "svg/link-ext.svg" (dict "fill" "#333" "size" "14") }}</a></h3>
  </div>

  <!-- RIGHT -->
  <div class="w-100 w-50-l tc">
    <iframe width="575" height="321" src="https://www.youtube.com/embed/69rZn9Q-qAE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
