/*Base Styles*/
@import '_tachyons';

/* purgecss start ignore */
@import '_anchorforid';
@import '_animation';
@import '_documentation-styles';

@import 'docsearch.js/dist/cdn/docsearch.min';
@import '_carousel';
@import '_code';
@import '_tabs';
@import '_color-scheme';
@import '_columns';
@import '_content';
@import '_content-tables';
@import '_definition-lists';
@import '_fluid-type';
@import '_font-family';
@import '_hugo-internal-template-styling';
@import '_no-js';
@import '_social-icons';
@import '_stickyheader';

@import '_svg';
@import '_chroma';
@import '_variables';

.nested-blockquote blockquote {
  border-left: 4px solid var(--primary-color);
  padding-left: 1em;
  /*margin: 0;*/
}


.mw-90 {
  max-width:90%;
}

.sans-serif {
  font-family: 'Source Sans Pro', sans-serif !important;
  color: #434343;
}
.fem {
  font-family: 'Alegreya Sans SC', sans-serif !important;
}

.home-header-bg {
  background: linear-gradient(180deg, var(--primary-color-dark) 1%, var(--primary-color) 75%, var(--primary-color) 30%);
}

.logo-img {
  position: absolute;
  /*display: block;*/
  height: 120px;
  width: 120px;
  top: 0.5em;
  left: 0.5em;
}
.microcks-mocks-img {
  float: right;
  position: relative;
  top: 2em;
  width: 380px;
  /*width: 360px;/*
  max-width: 100%;
  /*margin-right: 20%;*/
  z-index: 99;
}

.github-corner:hover .octo-arm {
  animation:octocat-wave 560ms ease-in-out
}
@keyframes octocat-wave {
  0%,100%{transform:rotate(0)}
  20%,60%{transform:rotate(-25deg)}
  40%,80%{transform:rotate(10deg)}
}
@media (max-width:500px) {
    .github-corner:hover .octo-arm{animation:none}
    .github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}
}

a.home-link {
  color: #ff1745;
  text-decoration-line: none !important
}

a.post-link {
  color: #1a2932;
  text-decoration-line: none !important
}
a.post-link:hover {
  color: #ff1745;
  text-decoration-line: underline;
}

a.header-link {
  text-decoration-line: none !important
}
.prose > * > a, .prose > * > * > a {
  color: #ff1745;
  text-decoration-line: none;
}
.prose > * > a:hover, .prose > * > * > a:hover {
  text-decoration-line: underline;
}

svg.hover-accent-color-light {
  color: #ff1745;
  opacity: 1;
}

blockquote {
  border-left: 4px solid var(--primary-color);
  padding-left: 0.75rem;
}

code:not([class]) {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}

/* pagination.html: https://github.com/gohugoio/hugo/blob/master/tpl/tplimpl/template_embedded.go#L117 */
.pagination {
  margin: 3rem 0;
}
.pagination li {
  display: inline-block;
  margin-right: .375rem;
  font-size: .875rem;
  margin-bottom: 2.5em;
}
.pagination li a {
  padding: .5rem .625rem;
  background-color: white;
  color: #ff1745;
  border: 0px solid #ddd;
  border-radius: 3px;
  text-decoration: none;
}
.pagination li.disabled {
  display: none;
}

article.nested-links a {
  color: #ff1745;
  text-decoration: none;
}

article.nested-links a:hover {
  color: #ff1745;
  text-decoration: underline;
}

/* CSS styles for sharing buttons partial - from https://sharingbuttons.io/ */
.resp-sharing-button__link,
.resp-sharing-button__icon {
  display: inline-block
}

.resp-sharing-button__link {
  text-decoration: none;
  color: #fff;
  margin: 0.5em
}

.resp-sharing-button {
  border-radius: 5px;
  transition: 25ms ease-out;
  padding: 0.5em 0.75em;
  font-family: Helvetica Neue,Helvetica,Arial,sans-serif
}

.resp-sharing-button__icon svg {
  width: 1em;
  height: 1em;
  margin-right: 0.4em;
  vertical-align: top
}

.resp-sharing-button--small svg {
  margin: 0;
  vertical-align: middle
}

/* Non solid icons get a stroke */
.resp-sharing-button__icon {
  stroke: #fff;
  fill: none
}

/* Solid icons get a fill */
.resp-sharing-button__icon--solid,
.resp-sharing-button__icon--solidcircle {
  fill: #fff;
  stroke: none
}

.resp-sharing-button--twitter {
  background-color: #55acee
}

.resp-sharing-button--twitter:hover {
  background-color: #2795e9
}

.resp-sharing-button--facebook {
  background-color: #3b5998
}

.resp-sharing-button--facebook:hover {
  background-color: #2d4373
}

.resp-sharing-button--reddit {
  background-color: #5f99cf
}

.resp-sharing-button--reddit:hover {
  background-color: #3a80c1
}

.resp-sharing-button--linkedin {
  background-color: #0077b5
}

.resp-sharing-button--linkedin:hover {
  background-color: #046293
}

.resp-sharing-button--facebook {
  background-color: #3b5998;
  border-color: #3b5998;
}

.resp-sharing-button--facebook:hover,
.resp-sharing-button--facebook:active {
  background-color: #2d4373;
  border-color: #2d4373;
}

.resp-sharing-button--twitter {
  background-color: #55acee;
  border-color: #55acee;
}

.resp-sharing-button--twitter:hover,
.resp-sharing-button--twitter:active {
  background-color: #2795e9;
  border-color: #2795e9;
}

.resp-sharing-button--linkedin {
  background-color: #0077b5;
  border-color: #0077b5;
}

.resp-sharing-button--linkedin:hover,
.resp-sharing-button--linkedin:active {
  background-color: #046293;
  border-color: #046293;
}

.resp-sharing-button--reddit {
  background-color: #5f99cf;
  border-color: #5f99cf;
}

.resp-sharing-button--reddit:hover,
.resp-sharing-button--reddit:active {
  background-color: #3a80c1;
  border-color: #3a80c1;
}



@media screen and (min-width: 30em) {
  .mr20p-ns  {  margin-right: 20%; }
}

@media screen and (min-width: 10em) and (max-width: 30em) {
  .dn-xs {              display: none; }
  .di-xs {              display: inline; }
  .db-xs {              display: block; }
  .dib-xs {             display: inline-block; }
  .dit-xs {             display: inline-table; }
  .dt-xs {              display: table; }
  .dtc-xs {             display: table-cell; }
  .dt-row-xs {          display: table-row; }
  .dt-row-group-xs {    display: table-row-group; }
  .dt-column-xs {       display: table-column; }
  .dt-column-group-xs { display: table-column-group; }
  .dt--fixed-xs {
    table-layout: fixed;
    width: 100%;
  }
}

@media screen and (min-width: 10em) and (max-width: 30em) {
  .pa0-xs  {  padding: 0; }
  .pa1-xs {  padding: .25rem; }
  .pa2-xs  {  padding: .5rem; }
  .pa3-xs  {  padding: 1rem; }
  .pa4-xs  {  padding: 2rem; }
  .pa5-xs  {  padding: 4rem; }
  .pa6-xs {  padding: 8rem; }
  .pa7-xs { padding: 16rem; }

  .pl0-xs  {  padding-left: 0; }
  .pl1-xs {  padding-left: .25rem; }
  .pl2-xs  {  padding-left: .5rem; }
  .pl3-xs  {  padding-left: 1rem; }
  .pl4-xs  {  padding-left: 2rem; }
  .pl5-xs  {  padding-left: 4rem; }
  .pl6-xs {  padding-left: 8rem; }
  .pl7-xs { padding-left: 16rem; }

  .pr0-xs  {  padding-right: 0; }
  .pr1-xs {  padding-right: .25rem; }
  .pr2-xs  {  padding-right: .5rem; }
  .pr3-xs  {  padding-right: 1rem; }
  .pr4-xs  {  padding-right: 2rem; }
  .pr5-xs {   padding-right: 4rem; }
  .pr6-xs {  padding-right: 8rem; }
  .pr7-xs { padding-right: 16rem; }

  .pb0-xs  {  padding-bottom: 0; }
  .pb1-xs {  padding-bottom: .25rem; }
  .pb2-xs  {  padding-bottom: .5rem; }
  .pb3-xs  {  padding-bottom: 1rem; }
  .pb4-xs  {  padding-bottom: 2rem; }
  .pb5-xs  {  padding-bottom: 4rem; }
  .pb6-xs {  padding-bottom: 8rem; }
  .pb7-xs { padding-bottom: 16rem; }

  .pt0-xs  {  padding-top: 0; }
  .pt1-xs {  padding-top: .25rem; }
  .pt2-xs  {  padding-top: .5rem; }
  .pt3-xs  {  padding-top: 1rem; }
  .pt4-xs  {  padding-top: 2rem; }
  .pt5-xs  {  padding-top: 4rem; }
  .pt6-xs {  padding-top: 8rem; }
  .pt7-xs { padding-top: 16rem; }

  .pv0-xs {
    padding-top: 0;
    padding-bottom: 0;
  }
  .pv1-xs {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
  .pv2-xs {
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
  .pv3-xs {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .pv4-xs {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .pv5-xs {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  .pv6-xs {
    padding-top: 8rem;
    padding-bottom: 8rem;
  }
  .pv7-xs {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
  .ph0-xs {
    padding-left: 0;
    padding-right: 0;
  }
  .ph1-xs {
    padding-left: .25rem;
    padding-right: .25rem;
  }
  .ph2-xs {
    padding-left: .5rem;
    padding-right: .5rem;
  }
  .ph3-xs {
    padding-left: 1rem;
    padding-right: 1rem;
  }
  .ph4-xs {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .ph5-xs {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .ph6-xs {
    padding-left: 8rem;
    padding-right: 8rem;
  }
  .ph7-xs {
    padding-left: 16rem;
    padding-right: 16rem;
  }

  .ma0-xs  {  margin: 0; }
  .ma1-xs {  margin: .25rem; }
  .ma2-xs  {  margin: .5rem; }
  .ma3-xs  {  margin: 1rem; }
  .ma4-xs  {  margin: 2rem; }
  .ma5-xs  {  margin: 4rem; }
  .ma6-xs {  margin: 8rem; }
  .ma7-xs { margin: 16rem; }

  .ml0-xs  {  margin-left: 0; }
  .ml1-xs {  margin-left: .25rem; }
  .ml2-xs  {  margin-left: .5rem; }
  .ml3-xs  {  margin-left: 1rem; }
  .ml4-xs  {  margin-left: 2rem; }
  .ml5-xs  {  margin-left: 4rem; }
  .ml6-xs {  margin-left: 8rem; }
  .ml7-xs { margin-left: 16rem; }

  .mr0-xs  {  margin-right: 0; }
  .mr1-xs {  margin-right: .25rem; }
  .mr2-xs  {  margin-right: .5rem; }
  .mr3-xs  {  margin-right: 1rem; }
  .mr4-xs  {  margin-right: 2rem; }
  .mr5-xs  {  margin-right: 4rem; }
  .mr6-xs {  margin-right: 8rem; }
  .mr7-xs { margin-right: 16rem; }

  .mb0-xs  {  margin-bottom: 0; }
  .mb1-xs {  margin-bottom: .25rem; }
  .mb2-xs  {  margin-bottom: .5rem; }
  .mb3-xs  {  margin-bottom: 1rem; }
  .mb4-xs  {  margin-bottom: 2rem; }
  .mb5-xs  {  margin-bottom: 4rem; }
  .mb6-xs {  margin-bottom: 8rem; }
  .mb7-xs { margin-bottom: 16rem; }

  .mt0-xs  {  margin-top: 0; }
  .mt1-xs {  margin-top: .25rem; }
  .mt2-xs  {  margin-top: .5rem; }
  .mt3-xs  {  margin-top: 1rem; }
  .mt4-xs  {  margin-top: 2rem; }
  .mt5-xs  {  margin-top: 4rem; }
  .mt6-xs {  margin-top: 8rem; }
  .mt7-xs { margin-top: 16rem; }

  .mv0-xs   {
    margin-top: 0;
    margin-bottom: 0;
  }
  .mv1-xs  {
    margin-top: .25rem;
    margin-bottom: .25rem;
  }
  .mv2-xs   {
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  .mv3-xs   {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .mv4-xs   {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .mv5-xs   {
    margin-top: 4rem;
    margin-bottom: 4rem;
  }
  .mv6-xs  {
    margin-top: 8rem;
    margin-bottom: 8rem;
  }
  .mv7-xs  {
    margin-top: 16rem;
    margin-bottom: 16rem;
  }

  .mh0-xs   {
    margin-left: 0;
    margin-right: 0;
  }
  .mh1-xs   {
    margin-left: .25rem;
    margin-right: .25rem;
  }
  .mh2-xs   {
    margin-left: .5rem;
    margin-right: .5rem;
  }
  .mh3-xs   {
    margin-left: 1rem;
    margin-right: 1rem;
  }
  .mh4-xs   {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .mh5-xs   {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  .mh6-xs  {
    margin-left: 8rem;
    margin-right: 8rem;
  }
  .mh7-xs  {
    margin-left: 16rem;
    margin-right: 16rem;
  }

  .w1-xs {  width: 1rem; }
  .w2-xs {  width: 2rem; }
  .w3-xs {  width: 4rem; }
  .w4-xs {  width: 8rem; }
  .w5-xs {  width: 16rem; }
  .w-10-xs { width:  10%; }
  .w-20-xs { width:  20%; }
  .w-25-x { width:  25%; }
  .w-30-xs { width:  30%; }
  .w-33-xs { width:  33%; }
  .w-34-xs { width:  34%; }
  .w-40-xs { width:  40%; }
  .w-50-xs { width:  50%; }
  .w-60-xs { width:  60%; }
  .w-70-xs { width:  70%; }
  .w-75-xs { width:  75%; }
  .w-80-xs { width:  80%; }
  .w-90-xs { width:  90%; }
  .w-100-xs { width: 100%; }
  .w-third-xs { width: 33.33333%; }
  .w-two-thirds-xs { width: 66.66667%; }
  .w-auto-xs { width: auto; }
}
/* purgecss end ignore */
