{{define "main"}}

{{with .Params.banner}}
<section class="section pb-0">
  <div class="container text-center">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 mx-auto">
          <h1 class="h2 mb-4">{{ .title | markdownify }}</h1>
          {{ with .subtitle }}
          <p class="mb-0">{{ . | markdownify }}</p>
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}

{{if site.Params.demo_form_action }}
<section class="section">
  <div class="container">
    <div class="row g-6">
      <div class="col-lg-7">
        <form method="POST" class="row g-4" action="{{site.Params.demo_form_action | safeURL}}">
          <div class="col-lg-12">
            <label class="text-dark mb-2" for="email">{{i18n "email"}}</label>
            <input class="form-control shadow-none" type="email" name="email_address" required>
          </div>
          <div class="col-lg-6">
            <label class="text-dark mb-2" for="fname">{{ i18n "fname"}}</label>
            <input class="form-control shadow-none" type="text" name="first_name" required>
          </div>
          <div class="col-lg-6">
            <label class="text-dark mb-2" for="fname">{{ i18n "lname"}}</label>
            <input class="form-control shadow-none" type="text" name="last_name" required>
          </div>
          <div class="col-lg-12">
            <label class="text-dark mb-2" for="website">{{i18n "organization_size"}}</label>
            <select class="form-select shadow-none" name="organization_size" required>
              <option>Please Select</option>
              <option value="1">1-10</option>
              <option value="2">11-50</option>
              <option value="3">51-250</option>
              <option value="4">251-1K</option>
            </select>
          </div>
          <div class="col-lg-12">
            <label class="text-dark mb-2" for="message">{{ i18n "region"}}</label>
            <select class="form-select shadow-none" name="region" required>
              <option>Please Select</option>
              <option value="1">Africa</option>
              <option value="2">Asia Pacific</option>
              <option value="3">Europe</option>
              <option value="4">Middle East</option>
              <option value="5">North America</option>
              <option value="6">South America</option>
            </select>
          </div>
          <div class="col-lg-12">
            <button class="btn btn-primary btn-sm mt-2" type="submit">{{ i18n "get_demo"}}</button>
          </div>
        </form>
      </div>
      {{with .Params.organizations}}
      <div class="col-lg-5">
        <div class="mt-4">
          <h3 class="h4 mb-4">{{.title | markdownify}}</h3>
          {{range .list}}
          {{ if fileExists (add `assets/` .) }}
          {{$img:= resources.Get . }}
          {{$img:= $img.Resize "x40 "}}
          {{$imgWebp:= $img.Resize "x40 webp"}}
          <div class="border p-3 rounded-2 d-inline-block is-hoverable mb-3 me-2" style="background-color: #fff;">
            {{ partial "image" (dict "Src" . "Alt" "brand logo") }}
          </div>
          {{end}}
          {{end}}
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}

{{if .Params.features_box.enable}}
{{with .Params.features_box}}
<section class="section pt-0">
  <div class="container">
    <div class="row gy-4">
      {{range .features_box_item}}
      <div class="col-lg-4 col-md-6">
        <div class="feature-card bg-light py-5 rounded-1 text-center">
          <div class="mt-3 bg-primary text-white mx-auto rounded-1 shadow h5 mb-5 d-flex align-items-center justify-content-center" style="height:65px;width:65px">
            <i class="{{.icon}}"></i>
          </div>
          <h3 class="h5 mb-3">{{.title | markdownify}}</h3>
          <p class="mb-3">{{.content | markdownify}}</p>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</section>
{{end}}
{{end}}

{{end}}