{{ define "main" }}

{{ partial "page-header.html" . }}

<!-- checking blog -->
{{ if or (or (eq .Section "post") (eq .Section "blog") (eq .Type site.Params.blogCategoryType)) (or (eq .Section "categories") (eq .Section "tags") )}}

<section class="section mt-4 pt-4">
  <div class="container">
    <div class="row gx-md-5 gy-6">
      {{ range first 1 (where site.RegularPages "Type" "featured") }}
      <div class="col-12 mb-4 pb-4">
        <div class="row align-items-center">
          <div class="col-md-6 mb-4 mb-md-0">
            {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "rounded-2 w-100") }}
          </div>
          <div class="col-md-6">
            <div class="d-flex align-items-center mb-4">
              {{- template "author-image-name" dict "author" .Params.Author -}}

              {{ range .Params.coauthors }}
                {{- template "author-image-name" dict "author" . -}}
              {{ end }}

              <!-- replace fa-calendar with a nicer emoji -->
              <div class="fw-500"><!-- <i class="far fa-calendar-alt text-dark me-1"></i> --> 🗓️ {{ time.Format ":date_long" .PublishDate }}</div>
            </div>

            <h2 class="h3 mb-3"><a href="{{ .Permalink }}" title="{{ .Title }}" class="text-dark d-inline-block">{{ .Title }}</a></h2>
            <p class="mb-4">{{ .Summary }}</p>
            <a href="{{.Permalink}}" title="{{ i18n `read_more` }} - {{ .Title }}" class="btn btn-sm btn-primary">Read More{{ i18n `read_more` }}</a>
          </div>
        </div>
      </div>
      {{ end }}
      {{ $paginator := .Paginate (where site.RegularPages "Section" "in" site.Params.mainSections) }}
      {{ range $paginator.Pages }}
      <div class="col-lg-4 col-sm-6 pb-4 pt-4">
        <div class="card bg-transparent border-0">
          {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "rounded-2 mb-4" "Size" "460x") }}
          <div class="card-body p-0">
            <div class="d-flex align-items-center mb-4">
              {{- template "author-image" dict "author" .Params.Author -}}

              {{ range .Params.coauthors }}
                {{- template "author-image" dict "author" . -}}
              {{ end }}

              <!-- replace fa-calendar with a nicer emoji -->
              <div class="fw-500"><!-- <i class="far fa-calendar-alt text-dark me-1"></i> --> 🗓️ {{ time.Format ":date_long" .PublishDate }}</div>
            </div>

            <h3 class="h5"><a href="{{ .Permalink }}" title="{{ .Title }}" class="text-dark d-inline-block">{{ .Title }}</a></h3>
            <p class="mb-4">{{ .Summary }}</p>
            <a href="{{.Permalink}}" title="{{ i18n `read_more` }} - {{ .Title }}" class="btn btn-sm btn-primary btn-sm">Read More{{ i18n `read_more` }}</a>
          </div>
        </div>
      </div>
      {{ end }}
      
      <!-- pagination -->
      <div class="col-12 pt-5">
        {{ partial "custom-pagination" . }}
      </div>
      <!-- /pagination -->
    </div>
  </div>
</section>

<!-- regular page -->
{{ else }}
<section class="section mt-4 pt-4">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="content">{{ .Content }}</div>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ end }}


{{ define "author-image-name" }}
{{ $author := .author }}
{{ with site.GetPage (string $author | urlize | lower) }}
<div class="user-image me-1">
  {{ if .Params.image }}
  <a href="{{.RelPermalink}}" title="{{.Title}}">
    {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "rounded-circle" "Command" "Fill" "Size" "30x30") }}
  </a>
  {{ else }}
  <i class="far fa-user-circle position-relative" style="font-size:26px;top:2px"></i>
  {{ end }}
</div>
<div class="user-info me-3">
  <p class="fw-500 mb-0"><span class="mx-1">{{i18n `by`}}</span>{{if .Title}}<a class="text-dark" href="{{.RelPermalink}}">{{ .Title }}</a>{{else}}<span class="text-muted">{{i18n `admin`}}</span> {{end}}</p>
</div>
{{ end }}
{{ end }}

{{ define "author-image" }}
{{ $author := .author }}
{{ with site.GetPage (string $author | urlize | lower) }}
<div class="user-image me-1">
  {{ if .Params.image }}
  <a href="{{.RelPermalink}}" title="{{.Title}}">
    {{ partial "image" (dict "Src" .Params.image "Alt" .Title "Class" "rounded-circle" "Command" "Fill" "Size" "30x30") }}
  </a>
  {{ else }}
  <i class="far fa-user-circle position-relative" style="font-size:26px;top:2px"></i>
  {{ end }}
</div>
{{ end }}
{{ end }}