{{ define "main" }}

{{ partial "page-header.html" . }}

<section class="section my-0 my-lg-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <div class="row gy-5 align-items-lg-center justify-content-center">
          {{ range $i, $e:= .Params.pricing_list}}
          <div class="col-lg-4 col-md-6 px-4 px-lg-0">
            <div class="card shadow bg-white {{if .recommended}}recommended{{end}} {{if gt $i 2}}mt-lg-5{{end}}">
              <div class="card-body text-center py-5">
                <h3 class="mb-4 h4">{{ .name | markdownify }}</h3>
                <span class="lead">{{.currency}}</span><span class="h3">{{ .price }}</span> <span>/{{ .price_per }}</span>
                <p class="lead mt-4">{{ .info | markdownify }}</p>
                <ul class="list-unstyled mb-5">
                  {{ range .services }}
                  <li>{{ . | markdownify }}</li>
                  {{ end }}
                </ul>
                {{ if .button.enable }}
                <a href="{{ .button.link | relLangURL }}" title="{{ .button.label }}" class="btn {{if .recommended}}btn-primary{{else}}btn-outline-primary{{end}}">{{ .button.label }}</a>
                {{ end }}
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>

{{with .Params.faq}}
{{if .enable}}
{{with site.GetPage (string .section)}}
<section class="section pt-5">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-xl-5 col-lg-7 text-center mx-auto mb-5">
        <h2 class="section-title h3">{{.Title | markdownify}}</h2>
        {{with .Params.description}}<p class="mb-0">{{. | markdownify}}</p>{{end}}
      </div>

      <div class="col-lg-10 mx-auto">
        <div class="accordion" id="faq">
          {{ range $i, $e := .Params.faq_list }}
          <div class="accordion-item bg-light border-0 mb-3 rounded-1">
            <h4 class="accordion-header mb-0" id="heading-{{ sha1 .title | urlize }}_">
              <button class="accordion-button border rounded-1 shadow-none h6 mb-0 p-4 {{if ne $i 0 }}collapsed{{end}}" type="button" data-bs-toggle="collapse" data-bs-target="#id-{{ sha1 .title | urlize }}_" aria-expanded="{{if eq $i 0 }}true{{else}}false{{end}}" aria-controls="id-{{ sha1 .title | urlize }}_">
                {{.title | markdownify}}
              </button>
            </h4>
            <div id="id-{{ sha1 .title | urlize }}_" class="accordion-collapse collapse {{if eq $i 0 }}show{{end}}" aria-labelledby="heading-{{ sha1 .title | urlize }}_" data-bs-parent="#faq">
              <div class="accordion-body p-4 content">
                {{.content | markdownify}}
              </div>
            </div>
          </div>
          {{end}}
        </div>
      </div>
    </div>
  </div>
</section>
{{end}}
{{end}}
{{end}}

<!-- call to action -->
{{ if .Params.call_to_action.enable }}
{{ with .Params.call_to_action }}
<section class="section pt-0">
  <div class="container">
    <div class="row g-6 align-items-center justify-content-center text-md-left">
      <div class="col-lg-4 col-md-5 mb-4 mb-md-0 text-center">
        {{ partial "image" (dict "Src" .image "Alt" "call to action image" "Class" "img-fluid w-100") }}
      </div>
      <div class="col-lg-6">
        <div class="ps-0 ps-lg-5 text-center text-lg-start">
          <h2 class="section-title h3">{{ .title | markdownify }}</h2>
          {{with .content }}<p class="mb-4">{{ . | markdownify }}</p>{{ end }}
          {{ if .button.enable }}
          {{ with .button }}
          <a href="{{ .link | relLangURL }}" title="{{ .label }}" class="btn btn-primary">{{ .label }}</a>
          {{ end }}
          {{ end }}
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}
<!-- /call to action -->

{{ end }}