// start header style
.navigation {
  background-color: transparent;
  padding: 0;
  transition: 0.15s ease-out;
  z-index: 9999;
  font-family: $font-secondary;
  position: fixed; 
  top: 0;
  left: 0;
  width: 100%; 
  display: flex; 
  align-items: center;

  @include mobile-xs {
    .navbar-brand {
      width: 50%;
    }
  }

  select,
  option {
    background: transparent;
  }

  select,
  option,
  .nav-link,
  .dropdown-item {
    font-weight: 500;
  }

  li.nav-item.active > a {
    background-color: $light;
    border-radius: 6px;
  }

  option {
    color: rgba($black, 0.8);
  }

  .navbar-brand .logo-error {
    font-size: 1rem;
    font-weight: 500;
    display: inline-block;
    white-space: break-spaces;
  }

  .navbar-light .navbar-toggler {
    border-color: transparent;
    padding: 0;
    font-size: 1.8rem;
    width: 26px;
    color: lighten($black, 13.33);
    border: 0;
    transition: 0.3s ease;

    &[aria-expanded="true"] {
      .fa-bars {
        display: none;
      }

      .fa-xmark {
        display: block;
      }
    }

    .fa-xmark {
      display: none;
    }

    &:focus {
      box-shadow: none;
    }

    &:hover {
      color: $color-primary;
    }
  }

  .navbar-toggler i {
    font-size: 23px;
  }

  .nav-item {
    font-size: 1rem;

    .nav-link {
      display: inline-block;
      line-height: 1;
      color: $text-dark !important;
      padding: 15px 18px !important;

      @include desktop-xl {
        padding: 15px 12px !important;
      }
    }

    .nav-link:hover,
    &.active .nav-link {
      color: $color-primary !important;
    }

    &.dropdown .nav-link::after {
      display: inline-block;
      vertical-align: 0.2em;
      content: "";
      height: 9px;
      width: 9px;
      border: 2px solid;
      border-left: 0;
      border-top: 0;
      border-color: inherit;
      border-radius: 2px;
      transform: rotate(45deg);
      transition: 0s;
    }
  }

  .dropdown-lg {
    .dropdown-menu {
      width: 260px;

      @include desktop {
        text-align: left;
      }
    }

    .dropdown-item {
      position: relative;
      padding-left: 45px !important;

      .dropdown-icon {
        position: absolute;
        top: 13px;
        left: 12px;
      }

      &.active .dropdown-icon {
        color: $color-primary !important;
      }

      .dropdown-subtitle {
        display: block;
        color: $text-color;
        font-weight: normal;
        white-space: initial;
        transition: 0.3s;
      }

      &:hover .dropdown-subtitle {
        opacity: 0.8;
      }
    }
  }

  .dropdown-menu {
    border: 0;
    padding: 10px;
    border-radius: 6px;

    @include desktop {
      text-align: center;
      border: 1px solid $light;
      padding: 12px;
      width: 100%;
      max-width: 300px;
      margin-left: auto;
      margin-right: auto;
      columns: 1 !important;
    }

    .dropdown-item {
      padding: 8px 15px;
      display: inline-block;

      @include desktop {
        padding: 6px;
      }

      font-size: 15px;
      color: $text-dark !important;
      border-radius: 6px;

      &:focus,
      &.active,
      &:active {
        color: $color-primary !important;
        background-color: $light;
      }
      &:hover{
        background-color: transparent;
        color: $color-primary !important;
      }
    }
  }

  @media (min-width: 992px) {
    .navbar .dropdown-menu {
      display: block;
      top: 45px;
      height: 0;
      visibility: hidden;
      overflow: hidden;
      transition: 0.2s;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 5px;
      background-color: transparent;
      z-index: 1;

      &::after {
        position: absolute;
        content: "";
        height: 0;
        width: 100%;
        background-color: $white;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: inherit;
        box-shadow: 0 10px 30px rgba(22, 28, 45, 0.1);
      }

      li {
        opacity: 0;
        visibility: hidden;
        transform: translateY(-5px);
      }
    }

    .navbar .dropdown:hover .dropdown-menu {
      height: auto;
      overflow: visible;
      visibility: visible;

      &::after {
        height: 100%;
        transition: 0.3s ease-out;
      }

      li {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
        transition: 0.25s;
      }

      $interval-time: 0.06;
      $max-menu-item: 15;

      @for $i from 1 through $max-menu-item {
        li:nth-child(#{$i}) {
          transition-delay: $i * $interval-time + s;
        }
      }
    }
  }

  // start modifications
  background: $white;
  border-bottom: 1px solid $border-color;

  .form-inline button {
    transition: 0s;
  }

  @include desktop {
    .form-inline {
      cursor: pointer;
      margin: 0 0px 0 auto !important;

      button {
        padding: 10px;
        position: static;
        transform: none;
      }

      .search-wrapper {
        margin-left: 10px;
      }
    }

    &.pull-top {
      top: -50px;
    }

    .navbar-toggler {
      width: 30px;
      margin: 0px;
      padding: 0px;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      i {
        color: $text-dark;
        font-size: 20px;
      }

      .fa-xmark {
        display: none;
      }

      .fa-bars {
        display: block;
      }

      &[aria-expanded="true"] {
        .fa-bars {
          display: none;
        }

        .fa-xmark {
          display: block;
        }
      }
    }
  }
  //end modifications

}

.search-wrapper {
  margin-left: 10px !important;
}

// dark style
.dark .navigation, .dark .doc-navigation {

  background-color: $dark;

  select {
    color: $white;
  }

  .navbar-toggler {
    color: darken($white, 13.33);
  }
  .navbar-light .navbar-toggler {
    color: darken($white, 13.33);
  }

  li.nav-item.active> a {
    background-color: black;
    color: $color-primary !important;
  }

  .nav-link {
    color: $white !important;
  }

  .nav-link,
  &.active .nav-link {
    color: $color-primary !important;
  }

  .dropdown-menu {
    background-color: lighten($dark-body-bg, 2);

    @include desktop {
      border: 1px solid $dark-body-bg;
    }

    .dropdown-item {
      color: $white !important;

      &:focus,
      &.active,
      &:active {
        color: $color-primary !important;
        background-color: black;
      }
      &:hover{
        background-color: transparent;
        color: $color-primary !important;
      }
      .dropdown-subtitle {
        color: #aaa;
      }
    }
  }

  @media (max-width: 991px) {
    .navbar-toggler i {
      color: darken($white, 13.33);
    }
  }
  @media (min-width: 992px) {
    .navbar .dropdown-menu {
      background-color: transparent;

      &::after {
        background-color: lighten($dark-body-bg, 2);
        box-shadow: 0 6px 50px -1px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.doc-navigation {
  transition: .2s ease;
  background: $white;
  border-bottom: 1px solid $border-color;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  
  .form-inline button {
    transition: 0s;
  }

  @include desktop {
    .form-inline {
      cursor: pointer;
      margin: 0 0px 0 auto !important;

      button {
        padding: 10px;
        position: static;
        transform: none;
      }
    }

    &.pull-top {
      top: -50px;
    }

    .navbar-toggler {
      width: 30px;
      margin: 0px;
      padding: 0px;

      &:focus {
        outline: none;
        box-shadow: none;
      }

      i {
        color: $text-dark;
        font-size: 20px;
      }

      .fa-xmark {
        display: none;
      }

      .fa-bars {
        display: block;
      }

      &[aria-expanded="true"] {
        .fa-bars {
          display: none;
        }

        .fa-xmark {
          display: block;
        }
      }
    }
  }

  li.nav-item.active a {
    background-color: #F5F5F5;
    border-radius: 6px;
    padding: 10px;
  }
}

// start modifications
.nav-group {
  display: flex;
  align-items: center;
}

.nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;

  .nav-link {
    text-transform: capitalize;
  }

  &.gh-btn {
    margin-left: 12px;
    padding-top: 5px;
    @media (max-width: 991.9px) {
      margin-top: 12px;
      margin-left: 28px;
    }
  }
}

.navbar-light .navbar-nav .nav-link {
  color: $text-dark;

  &:hover {
    color: $color-primary;
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding: 20px;
  font-size: 15px;
  font-weight: 500;

  @include desktop {
    padding: 10px;
    display: block;
  }
}

#select-language {
  border: 1px solid $border-color;
  background: transparent;
}

.search-wrapper {
  position: relative;
  cursor: text;

  .search-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15px;
  }

  .form-control {
    height: 54px;
    border: 1px solid $border-color;
    padding-left: 40px !important;
    border-radius: 5px;
    width: 320px;
    @extend .shadow;

    @include mobile {
      width: 250px;
    }

    &-sm {
      height: 45px;
      width: 220px;
    }

    &::placeholder {
      color: $text-light;
      font-size: 15px;
    }
  }

  .search-button {
    border: 1px solid $border-color;
    color: $text-light;
    background-color: transparent;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 4px;
    cursor: text;
  }

  @media screen and (min-width: 992px) {
    width:250px;

    .form-control{
      width: 100%;
      @media (max-width: 991px){
        display: none !important;
      }
    }
  }
}

.search-wrapper>button {
  background-color: $white;
}
.dark .search-wrapper>button {
  background-color: $dark;
  i {
    color: darken($white, 13.33);
  }
}

.doc-desktop-nav .nav-link {
  color: $text-dark;

  &:hover {
    color: $color-primary;
  }
}
.doc-desktop-nav .nav-item.active .nav-link {
  color: $color-primary;
}

@media screen and (max-width: 761px) {
  .doc-desktop-nav {
    display: none;
  }
}
@media screen and (min-width: 762px) {
  .doc-desktop-nav {
    padding-left: 60px;
  }
  .doc-mobile-nav {
    display: none;
  }
}
// end modifications


