{{ "<!-- navigation -->" | safeHTML }}
<header class="sticky-top doc-navigation">
  <div class="doc-container-fluid padding-layout">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-transparent">
      <a class="navbar-brand" href="{{ .Site.BaseURL | relLangURL }}">
        {{ partial "logo.html" }}
      </a>

      <!-- for mobile -->
      <form class="form-inline search-wrapper my-3 d-block d-lg-none" name="search-form" class="search-wrapper"
        data-bs-toggle="modal" data-bs-target="#searchModal">
        <input id="search-by" name="s" type="search" class="form-control text-dark d-none d-lg-block"
          placeholder="{{ i18n `search_placeholder`}}" readonly>
        <button class="border-0 pe-none" type="submit"><i class="fas fa-search"></i></button>
      </form>
      <!-- /for mobile -->

      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navigation">
        <i class="fa-solid fa-bars"></i>
        <i class="fa-solid fa-xmark"></i>
      </button>

      <!-- for desktop and mobile -->
      <div class="collapse navbar-collapse text-center" id="navigation">
        <ul class="navbar-nav me-auto align-items-center doc-desktop-nav">
          <!-- menu active -->
          {{ $currentPage := . }}
          {{ range site.Menus.main }}
          {{ $menuURL := .URL | absLangURL }}
          {{ $pageURL:= $currentPage.Permalink | absLangURL }}
          {{ $active := or 
            (eq $menuURL $pageURL) 
            (and (ne $menuURL site.BaseURL) (hasPrefix $pageURL $menuURL)) 
          }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item {{ if $active }}active{{ end }}">
            <a class="nav-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
          <li class="nav-item gh-btn">
            <a class="github-button" href="https://github.com/microcks/microcks" data-color-scheme="no-preference: light; light: light; dark: dark;" data-size="large" data-show-count="true" aria-label="Star microcks/microcks on GitHub">Star</a>
          </li>
        </ul>

        <ul class="navbar-nav me-auto align-items-center doc-mobile-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          {{ range site.Menus.docs }}
          {{ if .HasChildren }}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
              {{ .Name }}
            </a>
            <div class="dropdown-menu">
              {{ range .Children }}
              <a class="dropdown-item" href="{{ .URL | absLangURL }}">{{ .Name }}</a>
              {{ end }}
            </div>
          </li>
          {{ else }}
          <li class="nav-item">
            <a class="nav-link" href="{{ .URL | safeURL }}">{{ .Name }}</a>
          </li>
          {{ end }}
          {{ end }}
          <li class="nav-link">
            <!-- Language List -->
            {{ if .IsTranslated }}
            <select class="nav-item" id="select-language" onchange="location = this.value;">
              {{ $siteLanguages := site.Languages}}
              {{ $pageLang := .Page.Lang}}
              {{ range .Page.AllTranslations }}
              {{ $translation := .}}
              {{ range $siteLanguages }}
              {{ if eq $translation.Lang .Lang }}
              {{ $selected := false }}
              {{ if eq $pageLang .Lang}}
              <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}" selected>{{ .LanguageName }}
              </option>
              {{ else }}
              <option id="{{ $translation.Language }}" value="{{ $translation.Permalink }}">{{ .LanguageName }}</option>
              {{ end }}
              {{ end }}
              {{ end }}
              {{ end }}
            </select>
            {{ end }}
          </li>
        </ul>

        <!-- for mobile -->
        <div class="d-lg-none d-block">
          {{ range site.Params.nav_button }}
          <a href="{{ .link | absLangURL }}"
            class="btn btn-sm {{if eq .style `outline`}}btn-outline-primary{{else}}btn-primary{{end}} ms-lg-4">{{ .label
            }}</a>
          {{ end }}
        </div>
        <!-- /for mobile -->
      </div>
      <!-- /for desktop and mobile -->

      <!-- for mobile -->
      {{ if site.Params.theme_switcher }}
      <div class="theme-switcher d-inline-block d-lg-none">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="20" height="20" stroke-linecap="round" stroke-linejoin="round" fill="none" stroke="#000">
          <mask id="m">
            <circle class="masker" cx="7.5" cy="7.5" r="8.5" fill="#fff" />
          </mask>
          <g mask="url(#m)">
            <path class="sun" d="M7.5 1.5v-1m0 13.99v-.998m6-5.997h1m-13 0h-1m2-4.996l-1-1m12 0l-1 1m-10 9.993l-1 1m12 0l-1-1m-2-4.997a2.999 2.999 0 01-3 2.998 2.999 2.999 0 113-2.998z" />  
          </g>
          <path class="moon" fill="white" d="M1.66 11.362A6.5 6.5 0 007.693.502a7 7 0 11-6.031 10.86z" />  
        </svg>
      </div>
      {{ end }}
      <!-- /for mobile -->

      <!-- for desktop -->
      <form class="form-inline search-wrapper my-3 d-none d-lg-block" data-bs-toggle="modal" data-bs-target="#searchModal">
        <i class="search-icon fas fa-search"></i>
        <input class="form-control form-control-sm" placeholder="{{ i18n `search`}}" readonly>
        <button type="button" class="search-button" style="font-size:12px" data-search-toggler>{{ i18n "search" }}</button>
      </form>

      <div class="d-lg-flex d-none">
        <!-- {{ range site.Params.nav_button }}
        <a href="{{ .link | absLangURL }}"
          class="btn btn-sm {{if eq .style `outline`}}btn-outline-primary{{else}}btn-primary{{end}} ms-lg-4">{{ .label
          }}</a>
        {{ end }} -->
        
        {{ with site.Params.navigation_button }}
          <a href="{{ .link | safeURL }}" class="btn btn-sm btn-outline-primary ms-lg-4">{{ .label }}</a>
        {{ end }}  
      </div>

      {{ if site.Params.theme_switcher }}
      <div class="theme-switcher d-none d-lg-inline-block bg-light theme-toggle-icon">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 15 15" width="20" height="20" stroke-linecap="round" stroke-linejoin="round" fill="none" stroke="#000">
          <mask id="m">
            <circle class="masker" cx="7.5" cy="7.5" r="8.5" fill="#fff" />
          </mask>
          <g mask="url(#m)">
            <path class="sun" d="M7.5 1.5v-1m0 13.99v-.998m6-5.997h1m-13 0h-1m2-4.996l-1-1m12 0l-1 1m-10 9.993l-1 1m12 0l-1-1m-2-4.997a2.999 2.999 0 01-3 2.998 2.999 2.999 0 113-2.998z" />  
          </g>
          <path class="moon" fill="white" d="M1.66 11.362A6.5 6.5 0 007.693.502a7 7 0 11-6.031 10.86z" />  
        </svg>
      </div>
      {{ end }}
      <!-- /for desktop -->
    </nav>
  </div>
</header>
{{ "<!-- /navigation -->" | safeHTML }}

<!-- theme switcher -->
{{ if site.Params.theme_switcher }}
<script>
  var darkMode = {{if eq site.Params.theme_default "dark"}}true{{else}}false{{end}};
  {{ if eq site.Params.theme_default "system" }}
  if (window.matchMedia('(prefers-color-scheme: dark)').matches){darkMode = true}
  {{ end }}
  if (localStorage.getItem('theme') === 'dark'){darkMode = true}
  else if (localStorage.getItem('theme') === 'light'){darkMode = false}
  if (darkMode){document.body.classList.toggle('dark')}
  document.addEventListener('DOMContentLoaded', () => {
    var themeSwitch = document.querySelectorAll('.theme-switcher');
    [].forEach.call(themeSwitch, function (ts) {
      ts.addEventListener('click', () => {
        document.body.classList.toggle('dark');
        localStorage.setItem('theme', document.body.classList.contains('dark') ? 'dark' : 'light');
      });
    })
  });
</script>
{{ end }}

{{ partial "components/search-modal" . }}