{{ define "main" }}

<section class="cf ph4 pv3 pv3-ns bg-white">
  <div class="w-60 w-60-ns w-90-xs center tc tc-ns pv3">
    <h1 class="primary-color-dark">Microcs latest blog posts</h1>
  </div>
  
  {{ $lasturl := .Permalink }}
  {{ range first 1 (where .Data.Pages "Layout" "post") }}
  {{ $lasturl = .Permalink }}
  <div class="w-60 w-70-ns w-90-xs center pv3">
    <div class="flex-ns flex-wrap center mw9">
      <div class="w-50 w-50-ns w-90-xs ph3 pt5 pv1-xs">
        <img src="{{ .Params.image }}" alt="{{.Title}}" class="img-fluid w-100 br3">
      </div>
      <div class="w-50 w-50-ns w-90-xs ph3">
        <h2><a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a></h2>
        <p class="f5" style="height: 6em; line-height: 1.45em; overflow:hidden; text-overflow:ellipsis;">{{ .Summary }}</p>
        <a href="{{.Permalink}}" class="f5 link tc v-mid bg-accent-color-light white ph2 pv2 br3 fem">Read More</a>
      </div>
    </div>
  </div>
  {{ end }}
  {{ $paginator := .Paginate (where .Data.Pages "Layout" "post") 4 }}
  <div class="w-60 w-70-ns w-90-xs center pv5">
    <h3 class="pv2 pv0-xs">Previous posts</h3>
    <div class="flex-ns flex-wrap center mw9 pv2">
    {{ range $paginator.Pages }}
    {{ if ne .Permalink $lasturl }}
      <div class="w-33 w-33-ns w-90-xs ph3 pv3-xs">
        <img src="{{ .Params.image}}" alt="{{.Title}}" class="img-fluid w-100 br3">
        <div class="card-body p-0">
          <h4><a href="{{ .Permalink }}" class="post-link">{{ .Title }}</a></h4>
          <p class="f6" style="height: 6em; line-height: 1.45em; overflow:hidden; text-overflow:ellipsis;">{{ .Summary }}</p>
          <a href="{{.Permalink}}" class="home-link">Read More</a>
        </div>
      </div>
    {{ end }}
    {{ end }}
    </div>
    <div class="pv2 tc tc-ns">
        {{ template "_internal/pagination.html" . }}
    </div>
  </div>
</section>

{{ end }}