{{ define "main" }}

<section class="cf ph4 pv3 pv3-ns bg-white">
  <div class="w-60 w-70-m w-90-xs center tc tc-ns pv3">
    <h1 class="primary-color-dark">{{ .Title }}</h1>
  </div>
  <div class="w-60-l w-70-m w-90-xs center">
    <div class="flex-ns flex-wrap">
      <div class="w-10 w-40-xs">
        <img src="{{ .Params.author_image}}" alt="{{.Title}}" class="br4" style="width: 48px">  
      </div>
      <div class="w-40 w-70-xs">
        <div class="f6 pv2" style="vertical-align: super;">
          <b>{{ .Params.author }}</b> (<a href="https://twitter.com/{{ .Params.author_twitter }}" class="home-link">@{{ .Params.author_twitter }}</a>)
          <br/> {{ .Params.author_title }} - on {{ .PublishDate.Format "Jan 2, 2006" }}
        </div>
      </div>
      <div class="w-50 w-90-xs tr">
        {{ partial "share-buttons.html" . }}
      </div>
    </div>
  </div>
  <div class="flex-ns flex-wrap">
    <div class="w-60-l w-70-m w-90-xs center">
      <div class="prose pv3 f4" id="prose">{{ .Content }}</div>
      <!-- comments -->
      {{ if site.DisqusShortname }}
      <div class="pv4">
        {{ template "_internal/disqus.html" . }}
      </div>
      {{ end }}
    </div>
  </div>
</section>
{{ end }}
  