name: Broken Links Check
on: workflow_dispatch

jobs:
  broken-links-check:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          submodules: true

      - name: Check
        uses: ruzickap/action-my-broken-link-checker@df42b59637dfd06c247a8a95db0ab38708ea83d2 # v2.9.0
        with:
          url: https://microcks.io
          pages_path: public
          cmd_params: '--exclude=(twitter.com|linkedin.com|github.com|fonts.gstatic.com|fonts.googleapis.com|use.fontawesome.com|googletagmanager.com) --buffer-size=8192 --max-connections-per-host=5 --color=always --rate-limit=5 --header="User-Agent:curl/7.54.0" --skip-tls-verification'
